.breadcrumb_text > nav > ol {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.breadcrumb_text > nav > ol > li {
	padding: 0;
	margin: 0;
	margin-right: 4px;
}

.breadcrumb_text > nav > ol > li:after {
	content: '›';
	display: inline-block;
	margin-left: 4px;
}

.breadcrumb_text nav ol li:last-child:after {
	content: '';
}

.breadcrumb_text nav ol a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-family: 'HelveticaNowDisplay';
}
