/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'HelveticaNowDisplay';
		src: url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
		font-weight: 400;
	}
	@font-face {
		font-family: 'HelveticaNowDisplayBlack';
		src: url('/fonts/HelveticaNowDisplay-Black.woff') format('woff');
		font-weight: 400;
	}

	body {
		font-family: 'HelveticaNowDisplay', 'HelveticaNowDisplayBlack';
	}
	h2,
	h3 {
		font-family: 'HelveticaNowDisplayBlack';
	}
}

.slide {
	height: 100%;
	transition: 0.5s;
}
