@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'HelveticaNowDisplay';
		src: url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
		font-weight: 400;
	}
	@font-face {
		font-family: 'HelveticaNowDisplayBlack';
		src: url('/fonts/HelveticaNowDisplay-Black.woff') format('woff');
		font-weight: 400;
	}

	body {
		font-family: 'HelveticaNowDisplay', 'HelveticaNowDisplayBlack';
	}
	h2,
	h3 {
		font-family: 'HelveticaNowDisplayBlack';
	}
}

.list_breadcrumb {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.list_breadcrumb > li {
	padding: 0;
	margin: 0;
	margin-right: 4px;
}

.list_breadcrumb > li:after {
	content: '›';
	display: inline-block;
	margin-left: 4px;
}

.list_breadcrumb li:last-child:after {
	content: '';
}

.list_breadcrumb li a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
	font-family: 'HelveticaNowDisplay';
	font-weight: bold;
}

.podcast_body {
	color: white;
}

.podcast_body a {
	color: white !important;
}

.slide {
	height: calc(100% - 80px);
	transition: 0.5s;
}

.podcast_description {
	line-height: 1.5em;
	height: 9em;
}

@media only screen and (max-width: 1024px) {
	.podcast_description.collapsed {
		overflow: hidden;
	}

	.podcast_description.expanded {
		overflow: visible;
		height: auto;
	}
}

@media only screen and (max-width: 992px) {
	.slide {
		height: calc(100% - 131px);
	}
}

.progressBar {
	--bar-bg: #5e5a5a;
	--seek-before-width: 0;
	--seek-before-color: #ffffff;
	--knobby: #ffffff;
	--selectedKnobby: #ffffff;

	appearance: none;
	background: var(--bar-bg);
	border-radius: 10px;
	position: relative;
	width: 300px;
	height: 5px;
	outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
	background: var(--bar-bg);
	border-radius: 10px;
	position: relative;
	width: 100%;
	height: 5px;
	outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
	background: var(--bar-bg);
	border-radius: 10px;
	position: relative;
	width: 100%;
	height: 5px;
	outline: none;
}

.progressBar::-moz-focus-outer {
	border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
	content: '';
	height: 5px;

	width: var(--seek-before-width);
	background-color: var(--seek-before-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
	background-color: var(--seek-before-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 5px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: none;
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	margin: -5px 0 0 0;
	z-index: 3;
	box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: transparent;
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	z-index: 3;
	box-sizing: border-box;
}

.progressBar:active::-moz-range-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 8px #fff;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #000;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
